main {
    flex: 1;
}

main ul {
    margin-top: 0px;
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

main .conversation {
    margin-top: 0px;
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

@media (max-width: 650px) {
    main ul {
        grid-template-columns: 1fr;
    }
}