aside {
    width: 360px;
    background-image: linear-gradient(to left top, rgba(133, 120, 192, 0.3) , rgb(248, 248, 248) 90%, rgba(120, 192, 175, 0.3));
    background-color: rgba(224, 197, 235, 0.884);
    border-style: outset;
    border-color: rgba(105, 90, 205, 0.034);
    border-radius: 10px;
    padding: 30px 20px;
}

aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333;
}

aside .profile-head {
    display: flex;
    flex-direction: row;
}

aside .short-desc {
    padding: 10px;
}

aside form {
    margin-top: 30px;
}

aside form .info-block + .info-block {
    margin-top: 20px;
}

aside form .info-group {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 0.5fr 0.5fr;
}

aside form .info-group .info-block {
    margin-top: 0;
}

aside form .info-block label {
    text-align: left;
    color: rgb(82, 82, 82);
    font-size: 14px;
    font-weight: bold;
    display: block;
}

aside form .info-block info {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
}

aside form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background:#7d40e7;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: margin-right 0.5s;
}

aside form button[type=submit]:hover {
    background: #6931ca;
}