#conversation-page {
    max-width: 120;
    margin-top: 0px;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgba(173, 116, 219, 0.267);
    border-radius: 5px;
}

#conversation-page main {
    margin-left: 20px;
}